* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}
@media (min-width: 1600px) {
  .container {
    max-width: 1500px;
  }
}
.mainbtn {
  background-color: #f5593d;
  color: #fff;
  padding: 8px 20px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
  display: block;
  width: fit-content;
  transition: all 0.5s;
}
.mainbtn:hover {
  background-color: #f33816;
  color: #fff;
  box-shadow: 0px 1.281px 12.81px rgba(0, 0, 0, 0.22);
}
.spanmainHeadingColor {
  font-size: 1.8rem;
  color: #f33816;
  font-weight: bold;
}
.mainHeadingColor,
.mainHeading {
  font-size: 2.8rem;
  color: #151f20;
  font-weight: bold;
}
.mainHeadingColor span,
.mainHeading spans {
  color: #f33816;
}
.mainHeading.imagewithheading {
  position: relative;
  display: inline-block;
}
.imagewithheading::after {
  content: "";
  background-image: url(/images/headingArrow.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  height: 100px;
  width: 100px;
  top: -50px;
  left: -60px;
}
.description {
  font-size: 18px;
  color: #9a9a9a;
}
.mt-60 {
  margin-top: 60px;
}
.py-60 {
  padding: 60px 0;
}
.py-80 {
  padding: 100px 0;
}
.py-200 {
  padding: 200px 0;
}
.fw-600 {
  font-weight: 600;
}
.py-100 {
  padding: 100px 0;
}
.py-40 {
  padding: 40px 0;
}
.pt-60 {
  padding-top: 60px;
}
.pb-60 {
  padding-bottom: 60px;
}
.bg_section {
  background: #eeeeee;
}
.my-60 {
  margin: 60px auto;
}
.my-80 {
  margin: 80px auto;
}
.opacity-0 {
  opacity: 0;
}
.custom_bg {
  position: relative;
}
.bg-color {
  background: #fff5f5;
}
.bg-color-grey {
  background-color: #eeeeee;
  border-radius: 20px;
}
.custom_bg_color {
  background-color: #eee;
}
.custom_bg::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  background-color: #eee;
  min-height: 60%;
  z-index: -1;
}
@media (max-width: 768px) {
  .opacity-0 {
    display: none;
  }
  .mainHeadingColor,
  .mainHeading {
    font-size: 1.8rem;
  }
  .py-200 {
    padding: 100px 0;
  }
  .contact_section {
    padding: 0 20px;
  }
}

/* Hedaer */
header {
  position: sticky;
  top: 0;
  z-index: 9999;
}
header,
.bannersection {
  background: #151f20;
}
header .dropdown-item,
header .nav-link {
  color: #93908b;
  line-height: 21px;
  font-size: 18px;
  font-weight: 500;
}
header .nav-link:hover {
  color: #fff;
}
header .nav-item {
  margin: 0 10px 0 10px;
}

header .nav-item .btn {
  font-size: 19px;
}

/* footer */
footer {
  background-image: url("../images/footer_bg.png");
  background-size: 100% 100%;
}
footer p {
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  text-transform: capitalize;
}
footer .aboutp {
  font-size: 16px;
  text-transform: unset;
}
footer p.listTitle {
  font-weight: 500;
  font-size: 26px;
  position: relative;
}
footer li a {
  text-decoration: none;
  color: #d4d4d4;
  font-size: 1rem;
  text-transform: capitalize;
}
footer li {
  margin-bottom: 10px;
}

footer li:hover a {
  color: #fff;
}
footer p.listTitle::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 3px;
  background-color: #f33816;
}

footer .iconsListFooter {
  flex-wrap: wrap;
  justify-content: space-between;
  /* flex-direction: column; */
}
footer .iconsListFooter li {
  flex: 1 1 30%;
  margin-bottom: 30px;
  text-align: center;
}
footer .iconsListFooter li img {
  display: block;
  margin: auto;
}

footer .addressrow {
  padding: 0 2rem;
}
footer .br-l {
  border-left: 1px solid #fff;
}
footer .country {
  display: flex;
  align-items: center;
}
footer .country p.title {
  font-weight: 600;
  margin-left: 1rem;
}
footer .addressrow li:not(.country) {
  display: flex;
  align-items: flex-start;
}
footer .addressrow li:not(.country) a {
  margin-left: 1rem;
}
/* animattion css */

/* breadcrumb css */

/* body:not(.Homepage) header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent !important;
} */
body:not(.Homepage) .breadcrumb {
  min-height: 70vh;
  display: flex;
  align-items: center;
  padding: 100px 0;
}
.breadcrumb .maindesc {
  max-width: 900px;
}
.breadcrumb {
  margin-bottom: 0;
}
