.hiringCards img{
    max-width: 50px;
    width: 100%;
}
.hiringCards {
    color: #151F20;
    letter-spacing: 0.01em;
    background: #eee;
    box-shadow: 0px 2px 27px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}
.hiringCards .title{
    font-size: 36px !important;
    line-height: 177.9%;
    color: #151F20;
    font-weight: bold;
}
.hiringCards .keyvalue{
    font-weight: 500;
    text-align: left !important;
    font-size: 24px;
    padding: 23px 10px 0;
    background: #fff;
    border-radius: 15px;
}
.hiringCards .keyvalue .key{
    font-size: 20px;
    line-height: 177.9%;
    letter-spacing: 0.01em;
}

.hiringCards .keyvalue .value{
    line-height: 177.9%;
    font-size: 20px;
}

.hiringCards .keyvalue .value span{
    color: #F5593D;
    font-weight: bold;
    font-size: 24px;
}

.hiredeveloper .boxSliderWithRow .item .inner{
    padding: 30px;
    font-weight: 500;
    text-align: center;
    font-size: 25px;
    line-height: 33px;
    text-align: center;
    color: #373737;
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    margin: 10px;
}
.hiredeveloper .boxSliderWithRow .slick-dots button{
    display: none;
}
.hiredeveloper .boxSliderWithRow .slick-dots {
    max-width: 120px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.hiredeveloper .boxSliderWithRow .slick-dots li::after {
    content: ' ';
    padding: 4px;
    width: 30px;
    position: absolute;
    cursor: pointer;
    border-radius: 6px;
    background-color: #D0D0D0;
}
.hiredeveloper .boxSliderWithRow .slick-dots li.slick-active::after {
    background-color: #F5593D;
}

.core_services .item{
    padding: 2rem;
    background: #FFFFFF;
    border-radius: 12px;
    margin: 10px 0;
    text-align: center;
}

.core_services .item p{
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 129.6%;
    text-align: center;
    text-transform: capitalize;
    color: #3B4047;
    margin-top: 10px;
}

.stepsEngage .item{
    padding: 20px;
}
.stepsEngage .item_inner{
    max-width: 650px;
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.07);
    border-radius: 12px;
    height: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stepsEngage .item .content{
    padding-left: 20px;
}
.stepsEngage .item .content .title{
    font-weight: 700;
    font-size: 30px;
    line-height: 129.6%;
    text-transform: capitalize;
    color: #3B4047;
}
.stepsEngage .item .content .title span{
    color: #F5593D;
}
.stepsEngage .line_image{
    position: relative;
}
.stepsEngage .line_image::after{
    content: url('../images/Vectorline.png');   
    position: absolute;
    right: -30px;
    top: 50%;
    z-index: -1;
}

.mainHeadinghire > *,
.mainHeadinghire{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 128.6%;
    text-align: center;
    color: #151F20;
}

.serviceBoxes:nth-child(n+4){
    margin-top: 60px;
}

.serviceBoxes .box{
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 1.34061px 5.36243px rgba(0, 0, 0, 0.1);
}
.serviceBoxes .box .top{
    padding: 1.5rem 1rem;
    background-color: #F5593D;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
}
.serviceBoxes .box:hover .top{
    background-color: #151F20;
}
.serviceBoxes .box .bottom{
    padding: 0.5rem;
    text-align: center;
    background-color: #fff;
}
.serviceBoxes .box .bottom .title{
    font-size: 14px !important;
    font-weight: 500;
    color: #373737;
}
.serviceBoxes .box .bottom .ownrow{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.serviceBoxes .box .bottom .ownrow > div{
    margin-bottom: 20px;
    flex: 1 1 24%;
}
.serviceBoxes .box .bottom .ownrow .img{
    width: fit-content;
    padding: 10px;
    margin: 10px auto 5px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid rgba(100, 100, 111, 0.2);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.hireBox {
    background: #F7F7F7;
    box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    overflow: hidden;
    margin: 25px 15px;
    padding: 2rem;
    min-height: 420px;
}
.hireBox .heading{
    font-weight: 800;
    font-size: 1.8rem;
}
.hireBox img{
    max-width: 150px;
}

.stepsCount{
    color: #fff;
    padding-bottom: 60px;
    margin-top: 100px;
    position: relative;
}
.stepsCount::after{
    content: '';
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    background-color: #151F20;
    min-height: 80%;
    z-index: -1;
}
.stepsCount .count{
    font-weight: bold;
   
    margin-bottom: 20px;
    transform: rotate(45deg);
    height: 100%;
    background-color: #fff;
    color: #151F20;
    padding: 30px;
    width: 125px;
    border-radius: 20px;
    text-align: center;
    box-shadow: -7px 2px 22px rgba(0, 0, 0, 0.37);
}

.stepsCount .count p{
    transform: rotate(-45deg);
    font-size: 36px !important;
}
.stepsCount .title{
    font-size: 15px;
    max-width: 150px;
    margin-top: 40px;
}


.stepsCount .ownrow{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.stepsCount .col20{
    position: relative;
}
.stepsCount .col20::after{
    content: url('../images/countrowline.png');
    position: absolute;
    top: 50%;
    right: -100%;
    max-width: 200px;
    width: 100%;
}
.stepsCount .col20:last-child:after{
    display: none;
}