footer i.fa-location-dot ,
footer i.fa-phone {
    font-size: 22px;
    color: #fff;
}

@media (min-width: 1600px) {
    .container{
        max-width: 1500px;
    }
}

@media (max-width: 1500px){
    .top-icon-slider .slick-dots{
        display: none !important;
    }
    .iconSlider{
        padding: 10px 20px !important
    }
    .about{
        overflow: hidden;
    }
}

@media (max-width: 1201px){
    .bannersection .content h1{
        font-size: 2.5rem;
    }
    .mainHeadingColor,
    .mainHeading{
        font-size: 2.2rem;
    }
    .imagesAbout{
        display: flex;
        align-items: center;
    }
    .accordion-container .accordion-title{
        padding: 1rem  0.5em;
    }
    
}
@media (max-width: 1500px) and (min-width: 1201px){
    body:not(.Homepage) .breadcrumb{
        min-height: 50vh;
        padding: 50px;
    }
    .container{
        max-width: 1260px;
    }
    .accordion-container .accordion-title{
        width: calc(100% - 2rem);
    }
    .accordion-container .accordion-title::after{
        right: -1.5rem;
        top: 1rem; 
        height: 2rem;
        width: 2rem;
    }
    .technology_stack .boxStack .bottom{
        padding: 2rem 0;
    }
    .technology_stack .boxStack .bottom .techicon .title{
        font-size: 13px;
    }
    .bannersection{
        min-height: 50vh;
    }
    .mainHeadingColor,
    .mainHeading {
      font-size: 38px;
    }
    .bannersection .content h1 {
        font-weight: bold;
        font-size: 38px;
    }
    
}

@media (max-width: 1201px) and (min-width: 767px){
    .imagesAbout{
        display: flex;
        align-items: center;
    }
    .accordion-container .accordion-title{
        width: calc(100% - 2rem);
    }
    .accordion-container .accordion-title::after{
        right: -1.5rem;
        top: 1rem; 
        height: 2rem;
        width: 2rem;
    }
    footer .br-l{
        border: none;
    }
    footer .br-l-lg{
        border-left: 1px solid #fff;
    }
}

@media (max-width: 1440px){
    .industries-owncols .box{
        margin: 0;
    }
    .industries-owncols {
        flex: 1 1 22%;
    }
    .industries-section1-rightdiv{
        margin-left: unset;
    }
}

@media (max-width: 991px){
    .industries-owncols .box{
        margin: auto;
    }
    .industries-owncols {
        flex: 0 1 30%;
    }
}
@media (max-width: 769px){
    .industries-owncols .box{
        margin: auto;
    }
    .industries-owncols {
        flex: 1 1 47%;
    }
    .talkSec .col-12{
        padding: 0 20px;
    }
    .talkSec{
        padding: 20px;
    }
    
    footer .br-l{
        border: none;
        margin-top: 40px;
    }
    .accordion-container .accordion-title{
        padding: 1rem .5rem;
        font-size: 1em;
        width: calc(100% - 2rem);
    }
    .accordion-container .accordion-title::after{
        right: -1.5rem;
        top: 1rem; 
        height: 1.5rem;
        width: 1.5rem;
        font-size: 1.1rem;
    }
    .contact_section .bordre-sec{
        padding: 15px;
    }
    .accordion-container .accordion-title.open::after{
        font-size: 1rem;
    }
    .accordion-content {
        padding: 0 0.5rem;
    }
    .accordion-content > *{
        font-size: .9rem;
    }
    .accordion-content  p{
        margin-bottom: .5rem;
    }   
    .tabs .rightsidebar .title{
        font-size: 21px;
    }
    .tabs .rightsidebar li:first-child{
        margin-top: 30px;
    }
    .tabs .rightsidebar li{
        padding-left: 20px;
    }
    .tabs .tab_desc{
        font-size: 16px;
    }
    .level-counter > div{
        margin-bottom: 40px;
    }
    .level-counter > div:nth-child(3),
    .level-counter > div:last-child{
        margin-bottom: 0px;
    }

    .technology_stack .boxStack .bottom .techicon {
        margin: 0 25px 15px;
    }
    .technology_stack .boxStack .top h3{
        font-size: 1.5rem;
    }
   
    .about .description{
        font-size: 15px;
    }
    .about .itemsAbout .itemBox .title {
        font-size: 16px;
        font-weight: 500;
    }
    .bannersection{
        padding: 40px 0;
    }
    .bannersection .content h1{
        font-size: 2rem;
    }
    .headingDis{
        font-size: 1.5rem;
    }
    /* global css */
    .breadcrumb .mainHeadingColor{
        font-size: 2rem;
    }
    .mainHeading{
        font-size: 1.375rem;
    }
    .description{
        font-size: 15px;
    }
    .py-100{
        padding: 50px 0;
    }
    .my-80 , .my-60 {
        margin: 40px auto;
    }
    .py-60 , .py-80{
        padding: 40px 0;
    }
    .pt-60{
        padding-top: 30px;
    }
    .stats .counter{
        font-size: 2rem;
    }
    .stats .title b{
        font-size: 1rem;
    }
    .core-respect img{
      width: 80px;
      height: 80px;
    }
    .core-respect-content h2{
        font-size: 22px;
    }
    .core-respect-content p{
       font-size: 16px;
    }
    footer .iconsListFooter li:last-child{margin-bottom: 0;}
}

@media (max-width: 575px){
    .about .itemsAbout .itemBox .title {
        font-size: 18px;
        font-weight: 500;
    }
    .technology_stack .boxStack .top{
        padding: 1rem 10px;
        justify-content: center;
    }
    .technology_stack .boxStack .bottom .techicon .title{
        font-size: 13px !important;
    }
    .technology_stack .boxStack .bottom{
        padding: 1rem 10px;
    }
    .technology_stack .boxStack .bottom .techicon {
        margin: 0 12px 15px;
        flex: 1 1 24%;    
    }
    .level-counter > div:nth-child(3){
        margin-bottom: 40px;
    }
    .owncols .box img{
        height: 110px;
        width: 110px;
    }
    .industries-section1-rightdiv-div{
        width: 150px;
        height: 150px;
    }
    .industries-section1-rightdiv-div-heading{
        font-size: 43px !important;
        line-height: 30px;
    }
    .industries-owncols .box img{
        width: 60px;
        height: 60px;
    }
    .stepsCount .ownrow{
        justify-content: space-between;
    }
    .stepsCount .count{
        width: 115px;
    }
    .hireBox img{
        max-width: 130px;
    }
    .hireBox .heading{
        font-size: 1.375rem;
    }
}

@media (max-width: 767px) and (min-width: 567px){
    .container{
        max-width: 640px;
    }
}


/* service page  and common main Banner section*/
@media (max-width: 767px){
    body:not(.Homepage) .breadcrumb{
        padding: 40px 0;
    }
    .bg-row .content .heading{
        font-size: 24px;
    }
    .bg-row .content p{
        font-size: 15px;
    }
    /* .bg-row .row :not(.contentBox){
        opacity: 0;
    } */
    .card-vission{
        padding: 36px 0;
    }
    .card-vission p{
        padding: 0 10px;
    }
    .card-offer{
        padding: 15px 0;
    }
}

@media (max-width: 460px){
    .industries-owncols {
        flex: 1 1 80%;
    }
}


@media (max-width: 1220px) and (min-width: 767px){
    .footerMargin{  
        margin-bottom: 60px;
    }
}


