.sectionHeading {
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    color: #151F20;
}

.headingRow .headingText {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #9A9A9A;
}

.fs-30 {
    font-size: 30px;
}

.cardSection .serviceCards {
    background: #FFFFFF;
    box-shadow: 0px 4.06371px 13.5457px rgba(0, 0, 0, 0.06);
    border-radius: 16.2549px;
}

.cardSection .serviceCards .cardHeading h2 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 35px;
    line-height: 129.6%;
    text-align: center;
    text-transform: capitalize;
    color: #3B4047;
}

.cardSection .seeMoreBtn {
    font-weight: 500;
    font-size: 16px;
}

.caseStudySection {
    background-color: #EEEEEE;
}

.caseStudySection .nav-pills .nav-link {
    color: #7A7A7A;
    font-weight: 500;
    font-size: 16px;
    padding: 15px 20px !important;
    margin: 10px 20px;
    border-radius: 12px;
    transition: all 0.3s ease;
}

.caseStudySection .nav-pills .nav-link.active {
    background-color: #F5593D;
    color: #fff;
}

.caseStudySection .projectCard {
    background: #fff;
    border-radius: 40px;
}

.caseStudySection .caseStudySlider .projectCard .projectDetails h2 {
    font-size: 37px;
    color: #000;
    font-weight: 500;
}

.caseStudySection .projectCard .projectDetails hr {
    width: 10%;
    height: 10px;
    background: #F5593D;
    opacity: 1;
}

.caseStudySection .caseStudySlider .projectCard .projectDetails p,
.caseStudySection .caseStudySlider .projectCard .projectDetails ul li {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #7a7a7a;
    line-height: 35px;
    font-size: 16px;
}

.caseStudySection .caseStudySlider .projectCard .projectDetails ul li {
    list-style: none;
}

.caseStudySection .slick-dots {
    bottom: -50px !important;
}

.caseStudySection .slick-dots li {
    margin: 0px 10px;
}

.caseStudySection .slick-dots li button {
    height: 100%;
    width: 100%;
}

.caseStudySection .slick-dots li.slick-active button:before {
    opacity: .75;
    height: 6px;
    width: 30px;
    border-radius: 10px;
    content: '';
    background: #F5593D;
    padding: 0;
    line-height: 0px;
}

.caseStudySection .slick-dots li button:before {
    opacity: .75;
    height: 6px;
    width: 30px;
    border-radius: 10px;
    content: '';
    background: #D0D0D0;
    padding: 0;
    line-height: 0px;
    transition: all 0.3s ease;
}

.mobileAppSlider,
.webDevSlider,
.cmsDevSlider {
    width: 100%;
}

.engagementModels .mainHeading p::before {
    content: '';
    background-image: url('./images/headingArrow.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    height: 100px;
    width: 100px;
    top: -50px;
    left: -60px;
}

.cardSection .cardImage img {
    transition: all .8s;
}

.cardSection .col-md-6:nth-child(odd) .cardImage:hover img {
    box-shadow: inset 0px 2px 2px rgba(255, 255, 255, 0.25);
    filter: drop-shadow(2px 2px 6px rgba(255, 83, 0, 0.4));
}

.cardSection .col-md-6:nth-child(even) .cardImage:hover img {
    box-shadow: inset 0px 2px 2px rgba(255, 255, 255, 0.25);
    filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.4));
}

/* new css changes */
.bgRow {
    background-color: #F7F7F7;
}

.bg-row:last-child {
    margin-bottom: 0px;
}

.bg-row:nth-child(odd) .row>:first-child {
    order: 2;
}

.bg-row .content .heading {
    font-weight: 600;
    font-size: 27px;
    line-height: 177.9%;
    color: #151F20;
}

.bg-row .contentBox {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.bg-row .content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 177.9%;
    /* color: #424242; */
}

.bg-row .content a {
    font-weight: 400;
    color: #F5593D;
    font-size: 15px;
    position: relative;
}

.bg-row .content a::after {
    content: '>';
    position: absolute;
    transform: rotate(-270deg);
    top: 50%;
    right: -10%;
    transform: translate(90%, -50%);
}

.extraReadmore{
    display: none;
}
.bg-row .imgAlign{
    display: flex;
    align-items: center;
}
/* ownrows */

.ownrows {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* gap: 20px; */
}

.owncols {
    flex: 0 1 18%;
}

.owncols .box {
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px 5px rgb(0 0 0 / 10%);
    border-radius: 15px;
    margin: 20px;
    padding: 0 10px 10px;
    transition: all 0.3s ease;
}

.owncols .box .title {
    min-height: 70px;
    font-weight: 600;
    font-size: 18 !important;
    text-transform: capitalize;
    color: #333333;
    margin-bottom: 0;
}

.owncols .box:hover{
    background-color: #f5593d;

}
.owncols .box:hover p{
    color: #fff;
}