*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.container{
    max-width: 1500px;
}

header , .bannersection {
    background: #151F20;
}
header .dropdown-item,
header .nav-link{
    color: #93908B;
    line-height: 21px;
    font-size: 16px;
    font-weight: 500;
}
header .nav-link:hover{
    color: #93908B;
}
.nav-item{
    margin: 0 10px 0 10px;
}   
.mainbtn{
    background-color: #F5593D;
    color: #fff;
    padding: 8px 20px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
    display: block;
    width: fit-content;
}
.mainbtn:hover{
    background-color: #F33816;
    color: #fff;
   
}
.bannersection .content{
    color: #fff;
    

}
.bannersection .content h1{
    font-weight: bold;
    font-size:  55.4px;
}
.bannersection .content h1 span{
    color: #F33816;
    font-size:62px;
}
.about .content h1{
    font-weight: 800;
}
.about .content h1 span{
    font-weight: 800;
    color: #F33816;
}
.head1 h3{
    color: #Fffff6;
}
.head1 h3 span{
    color: #F5593D;
}

.top-icon-slider .slick-slide img{
    margin: auto;
    filter: saturate(0.1);
    transition: all .5s;
}

.top-icon-slider .slick-slide:hover img{
    filter: saturate(1);
}